@media (min-width: 375px) and (max-width: 960px) {

    h1 {
        font-family: var(--font-BarlowCondensed);
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: 20px;
        color: var(--very-dark-blue);
        line-height: 70px;
    }

    .content {
        position: relative;
        z-index: 2;
        padding: 30px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .navbar-format {
        font-family: var(--font-BarlowCondensed);
        position: relative;
        z-index: 2;
    }
}