* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: baseline;
    font-family: var(--font-Barlow);
    font-size: var(--fontsize);
}

html {
	font-size: 62.5%;
}

:root {
    --red: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%); 
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%); 
    --light-grayish-blue: hsl(207, 33%, 95%); 
    --font-size: 1.75rem;
    --font-BarlowCondensed: 'Barlow Condensed', sans-serif;
    --font-Barlow: 'Barlow', sans-serif;
}